# ******************************************************************************
#
# django-loader, a configuration and secret loader for Django
#
# Copyright 2021-2023 Jeremy A Gray <gray@flyquackswim.com>.
#
# SPDX-License-Identifier: MIT
#
# ******************************************************************************

# Emacs.
*~
*.elc

# Python.
.coverage
.env*
.pytest_cache
.python-version
.tox
.venv
__pycache__
build
dist
django_loader.egg-info
docs/_build
htmlcov
